body {
	background-color: lemonchiffon;
}

header {
	background-color: lightskyblue;
	border-radius: 20px;
	padding: 5px;
	text-align: center;
	margin: 10px;
	border: 10px double blueviolet;
}

h1 {
	letter-spacing: 20px;
	color: black;
	text-decoration: underline;
	text-decoration-color: lightskyblue;
}

header > p {
	letter-spacing: 7px;
}

article {
	background-color: lightcyan;
	border-radius: 20px;
	flex-wrap: wrap;
	padding: 20px;
	display: inline-flex;
	flex-direction: row;
	width: 2350px;
}

section {
	background-color: lightyellow;
	border: 2px dotted lightskyblue;
	border-radius: 20px;
	margin: 20px;
	padding: 15px;
	width: 700px;
	display: inline-flex;

}

h2 {
	text-decoration: underline;
	text-decoration-color: lightskyblue;
	text-decoration-thickness: 3px;
	text-decoration-style: solid;
	text-underline-offset: 7px;
	margin: 20px;
	writing-mode: vertical-rl;
}

section > p {
	line-height: 1.6;
	word-break: keep-all;
	border: 2px inset lightblue;
	padding: 15px;
	writing-mode: vertical-lr;
	height: 600px;

}

img {
	margin: 20px;
}

@media screen and (max-width: 900px) {
	body {
		background-color: lightblue;
	}

	p {
		font-size: 20px;
	}

	h1, h2 {
		font-size: 20px;
		margin: 10px;
		
	}

	p {
		font-size: 13px;
	}

	article {
		width: 900px;
		padding: 20px;
	}

	section > p {
	padding: 5px;
	height: 400px;
	}

	section {
		width: 600px;
		margin: 15px;
		padding: 15px;
		border: 2px solid lightskyblue;
	}

	img {
		border: 7px double lightskyblue;
	}

	header {
		border: 5px double blueviolet;
	}
}