body {
	background: linear-gradient(90deg,white,lightgreen);
}

header {
	background-color: pink;
	text-align: center;
	border-radius: 30px ;
	border: 5px solid hotpink;
	padding: 1px;
}

.m {
	position: absolute;
	top: 200px;
	left: 400px;
	background: linear-gradient(180deg,pink,lightgreen);
	border-radius: 100px;
	width: 200px;
	height: 200px;
	box-shadow:  3px 3px 10px 10px gray;
	color: black;
	align-items: center;
	justify-content: center;
	display: flex;
}

.d {
	position: absolute;
	top: 500px;
	left: 900px;
	background: linear-gradient(90deg,khaki,lightgreen);
	border-radius: 100px;
	width: 200px;
	height: 200px;
	box-shadow:  3px 3px 10px 10px gray;
	color: black;
	align-items: center;
	justify-content: center;
	display: flex;
}

li {
	list-style: none;

}

@media screen and (max-width: 900px) {
	body {
		background: linear-gradient(90deg,khaki,lemonchiffon);
		background-size: 900px;
	}

	h1 {
		font-size: 20px;
	}

	.m {
		top: 200px;
		left: 50px;
		width: 175px;
	    height: 175px;
	    border: 3px solid dimgray;

	}

	.d {
		top: 500px;
		left: 250px;
		width: 175px;
		height: 175px;
		border: 3px solid dimgray;
	}

	header {
		border: 3px solid hotpink;
		left: 50px;
	}
}


